*{
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  font-family: sans-serif;
}

.perfil img {
  border-image: 20px #fa83fb;
  
}

h1{
  color: #86baee;
  margin-top: 31px;
  margin-bottom: 8px;
}

p {
  color: #86baee;
}

ul{
  margin-top: 35px;
}
li {
  margin-bottom: 18px;
  list-style: none;
}
a {
  background-color: #9f5be3;
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 15px;
  border-radius: 10px;
  text-align: center;  
}
a:hover{
  background-color: #fa83fb ;
  color: white ;
  border-radius: 25px;
}
footer{
  color:#86baee;
  
}

.rodape img{
  width: 50px;
  height: 45px;
}

.container {
  
  width: 330px;
  text-align: center;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}